.companies{

  padding: 136px 174px;
    
// &__row{
//   transform: translateX(-6%);
// }

&__item{
  margin-left: 184px;
  &:nth-child(1){
    margin: 0;  
  }
}


&__description{
  text-align: center;
}

&__img{
  margin: 46px 302px;
}
}
